*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ADD8E6;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

a{
    text-decoration: none;
    color: #fff;
}

footer{
    font-size: x-small;
    background: #333;
    color: #fff;
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.button-normal{
    display: inline-block;
    font-size: 18px;
    color: #c3c3c3;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 10px 10px 10px;
}

.button-normal:hover{
   border: solid 2px #333;
}

.home-section{
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
    width: 70%;
    margin-bottom: 50px;
    border: solid;
    box-shadow: 10px 0px 6px -2px rgba(0, 0, 0, 0.6),
                -10px 0px 6px -2px rgba(0, 0, 0, 0.6);
}

.home-section article h1{
    
    text-align:justify;
    padding-left: 15px;
    padding-right: 15px;
    
}

.home-section article h3{
    
    text-align:justify;
    padding-left: 15px;
    padding-right: 15px;
    
}

.home-section article p{
    text-align:justify;
    padding-left: 25px;
    padding-right: 25px;
    
}

.home-section li{
    margin-top: 5px;
    margin-left: 25px;
}

.home-section ul{
    margin-top: 5px;
}

.navbar{
    background: #333;
    color: #fff;
    height: 80px;
    margin: 0px;
}

.navbar a{
    color: #fff;
}

.navbar h1 {
    float: left;
    margin-left: 20px;
}

.navbar ul{
    list-style: none;
    float: right;
    margin: 0px;
    height: 100%;
}

.navbar ul li{
    float:left;
    height: 100%;
}

.navbar ul li a{
    display: block;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    height: 100%;
}

.navbar ul li a.current,
.navbar ul li a:hover{
    background: #444;
    color: #f7c08a;
}